@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To Technical Test</h1>
    <p class="lead">Click the button below to manage Sales Orders.</p>
    <a asp-page="/SalesOrders/Index" class="btn btn-primary btn-lg mt-4">
        <i class="fas fa-list"></i> Go to Sales Orders
    </a>
</div>
